<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ĐỒNG HỒ HÀN QUỐC</title>
    <div th:replace="fragments/style :: style"></div>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/sidebar ::sidebar"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="box-content">
                            <form class="form-horizontal" method="post"
                                  th:action="@{/chinhsuataikhoan}" th:object="${userOutPut}"
                                  style="text-align: center;margin-top: 100px;">
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label" for="typeahead">Họ và Tên </label>
                                        <input type="text" name="email" placeholder="Họ và tên"
                                               th:field="*{fullname}" style="margin-left: 180px;width: 432px;">
                                    </div>
                                    <br/>
                                    <div class="control-group">
                                        <label class="control-label" for="typeahead">Email </label>
                                        <input type="email" name="email" placeholder="email"
                                               th:field="*{email}" style="margin-left: 212px;width: 432px;">
                                    </div>
                                    <br/>
                                    <div class="control-group">
                                        <label class="control-label" for="typeahead">Mật
                                            Khẩu </label>
                                        <input type="text" name="user-password"
                                               placeholder="Mật Khẩu" th:field="*{password}"
                                               style="margin-left: 179px;width: 432px;">
                                    </div>
                                    <br/>
                                    <div class="control-group">
                                        <label class="control-label" for="typeahead">Số Điện
                                            Thoại </label>
                                        <input name="phone" placeholder="Điện thoại"
                                               type="tel" th:field="*{phone}" style="margin-left: 146px;width: 432px;">
                                    </div>
                                    <br/>
                                    <div class="control-group">
                                        <label class="control-label" for="typeahead">Địa
                                            Chỉ </label>
                                        <input name="address" placeholder="Địa chỉ"
                                               type="text" th:field="*{address}"
                                               style="margin-left: 195px;width: 433px;">
                                    </div>
                                    <br/>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary" style="margin-left: 573px;">Lưu
                                        </button>
                                        <button type="reset" class="btn" onclick="displayModal('none')">Thoát</button>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
<div th:replace="fragments/script :: script"></div>

</body>
</html>