<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SWISS</title>

    <div th:replace="fragments/style :: style"></div>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>

    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <!-- Sidebar -->
    <div th:replace="fragments/sidebar ::sidebar"></div>
    <!-- /.sidebar -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                         <!--Button to Open the Modal
                        <a>
                            <button type="button" class="btn btn-success" >
                                Thêm Sản Phẩm
                            </button>
                        </a>-->
                        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th class="th-sm">Tên Khách hàng
                                </th>
                                <th class="th-sm">Địa Chỉ
                                </th>
                                <th class="th-sm">Email
                                </th>
                                <th class="th-sm">Số Điện Thoại
                                </th>
                                <th class="th-sm">Tổng Tiền
                                </th>
                                <th class="th-sm">Ngày Tạo
                                </th>
                                <th class="th-sm">Trạng Thái
                                </th>
                                <th class="th-sm">Thao Tác
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="index :${listPage}">
                                <td  th:text="*{index.getRecipientname()}"></td>
                                <td  th:text="*{index.getRecipientaddress()}"></td>
                                <td  th:text="*{index.getEmail()}"></td>
                                <td  th:text="*{index.getRecipientphone()}"></td>
                                <td  th:text="*{index.getTotal()}"></td>
                                <td th:text="${index.getCreatedate()}"></td>
                                <td th:text="*{index.getStatus()}"></td>
                                <td>
                                    <a>
                                        <button class="btn btn-success" type="button">Sửa</button>
                                    </a>
                                    <a>
                                        <button class="btn btn-danger">Xóa</button>
                                    </a>
                                    <!--<a >
                                        <button class="btn btn-primary">Chi Tiết</button>
                                    </a>-->
                                    <br />
                                </td>
                            </tr>

                            </tbody>

                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="fragments/footer :: footer"></div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div th:replace="fragments/script :: script"></div>
</body>
</html>
