<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SWISS</title>

    <div th:replace="fragments/style :: style"></div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <style>
        .table-sortable tbody tr {
            cursor: move;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>

    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <!-- Sidebar -->
    <div th:replace="fragments/sidebar ::sidebar"></div>
    <!-- /.sidebar -->
    <!-- Content Wrapper. Contains page content -->
    <form th:action="@{/themsanpham}" method="post" class="form-horizontal" enctype="multipart/form-data" th:object="${product}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4" style="margin-left: 268px;">Tên Sản Phẩm </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Tên sản phẩm" style="margin-left: 268px;width: 400px;" th:field="*{productname}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" style="margin-left: 137px;">Giá Sản Phẩm</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Giá sản phẩm" style="margin-left: 136px;width: 400px;" th:field="*{price}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4" style="margin-left: 268px;">Chọn Danh Mục</label>
                <select id="ok1" class="form-control" style="margin-left: 268px;width: 400px;" th:field="*{categoryid}">
                    <option th:each="ca: ${categorylist}" th:value="${ca.id}"
                    th:utext="${ca.name}"></option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" style="margin-left: 137px;">Chọn Thương Hiệu</label>
                <select id="ok2" class="form-control" style="margin-left: 136px;width: 400px;" th:field="*{brandid}">
                    <option th:each="ba : ${brandlist}" th:value="${ba.id}"
                            th:utext="${ba.name}">...</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label  style="margin-left: 268px;">Chọn ảnh</label>
            <input class="input-file uniform_on" id="fileInput1" type="file"
                   name="files" multiple>
        </div>
        <div class="form-group">
            <label  style="margin-left: 268px;">Mô tả</label>
            <textarea name="desc0" placeholder="Description" class="form-control" style="margin-left: 268px;width: 600px;" rows="8"  th:field="*{description}"></textarea>
        </div>
        <br />
        <label style="margin-left: 268px;">Chi Tiết sản phẩm</label>
        <div class="container" style="margin-left: 255px;width: 632px;">
            <div class="row clearfix">
                <div class="col-md-12 table-responsive">
                    <table border="1" id="tab_logic"  >
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 300px;">
                                Màu
                            </th>
                            <th class="text-center" style="width: 300px;">
                                Size
                            </th>
                            <th class="text-center" style="width: 137px;">
                                Số lượng
                            </th>
                            <th class="text-center" style="width: 100px;">
                                Thao Tác
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id='addr0' data-id="0" class="hidden"  th:each="info, productStat : ${product.productAtributeInputs}" >
                            <td data-name="sel" >
                                <select name="a" th:field="*{productAtributeInputs[__${productStat.index}__].sizeid}">
                                    <option th:each="sizeinfo: ${sizeEntityList}" th:value="${sizeinfo.ID}"
                                            th:utext="${sizeinfo.name}" >
                                    </option>
                                </select>
                            </td>
                            <td data-name="sal">
                                <select name="a" th:field="*{productAtributeInputs[__${productStat.index}__].colorid}">
                                    <option th:each="colorinfo: ${colorEntityList}" th:value="${colorinfo.id}"
                                            th:utext="${colorinfo.name}">
                                    </option>
                                </select>
                            </td>
                            <td data-name="mail">
                                <input type="text" name='mail0' placeholder='Số Lượng' class="form-control" th:field="*{productAtributeInputs[__${productStat.index}__].quantity}"/>
                            </td>
                            <td data-name="del">
                                <button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'><span
                                        aria-hidden="true">×</span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a id="add_row" class="btn btn-primary float-right">Thêm Dòng</a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"
                    style="margin-left: 265px;">Thêm
            </button>
            <button type="reset" class="btn">Thoát</button>
        </div>
    </form>
    <!-- /.content-wrapper -->
    <div th:replace="fragments/footer :: footer"></div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<script>
    $(document).ready(function () {
        $("#add_row").on("click", function () {
            // Dynamic Rows Code

            // Get max row id and set new id
            var newid = 0;
            $.each($("#tab_logic tr"), function () {
                if (parseInt($(this).data("id")) > newid) {
                    newid = parseInt($(this).data("id"));
                }
            });
            newid++;
            console.log(newid);

            var tr = $("<tr></tr>", {
                id: "addr" + newid,
                "data-id": newid
            });

            // loop through each td and create new elements with name of newid
            $.each($("#tab_logic tbody tr:nth(0) td"), function () {
                var td;
                var cur_td = $(this);

                var children = cur_td.children();
                var endName = children[0].name.split('.')[1];

                // add new td and element if it has a nane
                if ($(this).data("name") !== undefined) {
                    td = $("<td></td>", {
                        "data-name": $(cur_td).data("name")
                    });

                    var c = $(cur_td).find($(children[0]).prop('tagName')).clone().val("");
                    console.log(c);
                    // var aw = $(cur_td).find($(children[1]).prop('tagName')).clone().val("");
                    c.attr("name", "productAtributeInputs["+newid+"]."+endName+"");
                    // aw.attr("name", "productAtributeInputs["+newid+"]."");
                    c.appendTo($(td));
                    td.appendTo($(tr));
                } else {
                    td = $("<td></td>", {
                        'text': $('#tab_logic tr').length
                    }).appendTo($(tr));
                }
            });

            // add delete button and td
            /*
            $("<td></td>").append(
                $("<button class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>")
                    .click(function() {
                        $(this).closest("tr").remove();
                    })
            ).appendTo($(tr));
            */

            // add the new row
            $(tr).appendTo($('#tab_logic'));

            $(tr).find("td button.row-remove").on("click", function () {
                $(this).closest("tr").remove();
            });
        });




        // Sortable Code
        var fixHelperModified = function (e, tr) {
            var $originals = tr.children();
            var $helper = tr.clone();

            $helper.children().each(function (index) {
                $(this).width($originals.eq(index).width())
            });

            return $helper;
        };

        $(".table-sortable tbody").sortable({
            helper: fixHelperModified
        }).disableSelection();

        $(".table-sortable thead").disableSelection();



        $("#add_row").trigger("click");
    });
</script>
<!-- ./wrapper -->
<div th:replace="fragments/script :: script"></div>

</body>

</html>