<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="scriptHome">
    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script th:src="@{assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <!-- Popper JS -->
    <script th:src="@{assets/js/popper.min.js}"></script>
    <!-- Bootstrap JS -->
    <script th:src="@{assets/js/bootstrap.min.js}"></script>
    <!-- Plugins JS -->
    <script th:src="@{assets/js/plugins.js}"></script>
    <!-- Ajax Mail -->
    <script th:src="@{/assets/js/ajax-mail.js}"></script>
    <!-- Main JS -->
    <script th:src="@{/assets/js/main.js}"></script>
</div>
</body>
</html>